/* noto-serif-italic - latin */
@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 400;
  src: local("Noto Serif Italic"), local("NotoSerif-Italic"),
    url("../fonts/noto-serif-v8-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/noto-serif-v8-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-slab-v11-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-slab-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lily-script-one-regular - latin */
@font-face {
  font-family: "Lily Script One";
  font-style: normal;
  font-weight: 400;
  src: local("Lily Script One"), local("LilyScriptOne-Regular"),
    url("../fonts/lily-script-one-v7-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lily-script-one-v7-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Roboto Slab", sans-serif;
  --logo-font: "Lily Script One";
  --secondary-heading-font: "Noto Serif", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

/* header decoration */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 28px;
  margin-bottom: 112px;
}
.navigation__list {
  display: flex;
}
.navigation__list-item:not(:last-child) {
  margin-right: 40px;
}
.logo {
  font-family: var(--logo-font);
  font-size: 26px;
  color: #fed136;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 1.3px;
}
.navigation__list-item-link {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 41px;
  color: #222222;
  text-transform: uppercase;
}

.navigation__list-item-link:hover {
  color: #fed136;
  transition: all 200ms linear;
}
