@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 400;
  src: local("Noto Serif Italic"), local("NotoSerif-Italic"),
    url("../fonts/noto-serif-v8-latin-italic.woff2") format("woff2"),
    url("../fonts/noto-serif-v8-latin-italic.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-slab-v11-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-slab-v11-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Lily Script One";
  font-style: normal;
  font-weight: 400;
  src: local("Lily Script One"), local("LilyScriptOne-Regular"),
    url("../fonts/lily-script-one-v7-latin-regular.woff2") format("woff2"),
    url("../fonts/lily-script-one-v7-latin-regular.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Roboto Slab", sans-serif;
  --logo-font: "Lily Script One";
  --secondary-heading-font: "Noto Serif", cursive;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

/* header decoration */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 44px;
  /* margin-bottom: 112px; */
}
.navigation__list {
  display: flex;
}
.navigation__list-item:not(:last-child) {
  margin-right: 40px;
}
.logo {
  font-family: var(--logo-font);
  font-size: 26px;
  color: #fed136;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 1.3px;
}
.navigation__list-item-link {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 41px;
  color: #222222;
  text-transform: uppercase;
}

.navigation__list-item-link:hover {
  color: #fed136;
  transition: all 200ms linear;
}

/* Services decorate */
.services {
  padding-top: 128px;
  padding-bottom: 120px;
}

.services__head-wrapper {
  text-align: center;
}
.services__head {
  text-transform: uppercase;
  font-size: 40px;
  font-family: var(--main-font);
  font-weight: 700;
  color: #222222;
  margin-bottom: 19px;
  letter-spacing: -1px;
}
.services__head-description {
  font-family: var(--secondary-heading-font);
  font-size: 16px;
  color: #777777;
  margin-bottom: 80px;
}

.services__description-list {
  display: flex;
  justify-content: space-between;
}
.services__description-list-item::before {
  display: block;
  content: "";
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border-color: #fed136;
  border-style: solid;
  border-width: 3px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 26px;
}

.services__description-list-item {
  width: 290px;
  text-align: center;
}

.services__description-list-item:first-child::before {
  background-image: url(../img/icons/Basket.png);
}

.services__description-list-item:nth-child(2)::before {
  background-image: url(../img/icons/Laptop.png);
}
.services__description-list-item:nth-child(3)::before {
  background-image: url(../img/icons/Locked.png);
}

.services__description-list-item-head {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
  color: #222222;
  margin-bottom: 8px;
}

.services__description-list-item-text {
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
  color: #777777;
}

/* contact decorate */

.contact {
  background-color: #222222;
  background-image: url(../img/contact_background.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  padding-bottom: 114px;
  background-position: right bottom 20px;
}

.contact__head-wrapper {
  text-align: center;
  padding-top: 110px;
}
.contact__head {
  text-transform: uppercase;
  font-size: 40px;
  font-family: var(--main-font);
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 19px;
  letter-spacing: -1px;
}
.contact__head-description {
  font-family: var(--secondary-heading-font);
  font-size: 16px;
  color: #777777;
  margin-bottom: 80px;
}

.contact__form-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.contact__form-btn-wrapper {
  display: flex;
  justify-content: center;
}

.contact__form-input {
  height: 50px;
}
.contact__form-wrapper li:not(:last-child) {
  margin-bottom: 30px;
}
.contact__form-input,
.contact__form-message {
  width: 456px;
  border: 1px solid #cccccc;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.35px;
  font-family: var(--main-font);
}
.contact__form-message {
  padding-top: 19px;
  height: 210px;
  resize: none;
}

.contact__form-input::placeholder,
.contact__form-message::placeholder {
  text-transform: uppercase;
}

.contact__form-btn {
  width: 240px;
  height: 66px;
  background-color: #fed136;
  font-family: var(--main-font);
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
}
